body
  font-size 16px
  font-family 'IBM Plex Sans'

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  line-height 1.25

h1
  font-family 'IBM Plex Mono'
  font-weight 400

ul, ol
  line-height 1.5
  font-size 0.875rem

.navbar
  .links
    background-color: transparent
  .site-name
    font-family: 'IBM Plex Mono'
    font-weight: 300

.button
  padding 0.5rem 1rem
  font-size 0.875rem
  color #fff
  background-color $accentColor
